
html{font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
     height: 100%;
     /* overflow: hidden */
    }
    html, body{margin:0;
    font-family: 'Raleway', sans-serif;
    min-height: 100%;
    background-image: linear-gradient(0deg, #1e1e1e, #2c1818 150%);
    background-repeat:no-repeat;
  background-size: cover;
  color: #c74040
}
.navbar-default{background-color: rgba(0,0,0,.55)!important;
    /* color:#f74d4d!important; */
    border: 0!important;
    border-color:#f74d4d;
    /* text-decoration-color:#f74d4d!important; */
}
a{ background-color:rgba(0, 0, 0, 0)!important;
    transition: 1s ease-out;
    color:#999!important;
}
a:hover{ 
    background-color: #000; 
    transition: .05s ease;
    color:#f74d4d!important;

}
a.ex{

background: none; 
color:#f74d4d!important;
}

.press-title a:hover 
{ background-color: transparent; 
    text-decoration: none; }

    .dropdown-content a:hover {background-color: #000000}
    
    .dropdown:hover .dropdown-content {
        display: block;
    }


  /* panael CSS */

.panel-heading {background-color:rgba(46, 46, 46, 0.22)!important;
    color:#999!important;
    border: 0!important;}
    
.panel-default {
    background-color: rgba(0, 0, 0, 0.50)!important;
    border: 0!important;
     color: #999!important;
}
 
.panel-primary{
    background-color: rgba(0, 0, 0, 0)!important;
    border: 0!important;
     color: #999!important;
}
.panel-footer{
    border: 0!important;
    background-color: rgba(0, 0, 0, 0)!important;
    
}
/* input CSS */
input{
    /* color: #999!important; */
    background-color:rgba(48, 48, 48, 0.507)!important;
    border: 0!important;
}

input:focus { 
    color: #999!important;
    border: 0!important;
    outline-color: #f74d4d!important;
    /* background-color: rgba(255, 235, 242, 0.534)!important; */
} 


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #4e4ac2!important;
  -webkit-text-fill-color: #999!important;
  transition: background-color 5000s ease-in-out 0s!important;
}

/* Button coloring */

a.btn.btn-primary{
    border:0!important;
    background-color: #1e705a!important;
    color:rgb(151, 182, 162)!important;
}

button{
    border:0!important;
    background-color: #1e705a!important;
    color:rgb(151, 182, 162)!important;
}


a.thumbnail{
    background-color: rgba(87, 87, 87, 0.5)!important;
    border: 0!important;
}

.pagination>li>a,
.pagination>li>span {
    background-color: rgba(0, 0, 0, 0.50)!important;
    border: 0!important;
}


div.footer{
    /* position: fixed!important; */
    text-align: center!important;
    background-color: rgba(0, 0, 0, 0.50)!important;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
    min-height: 50px;
    margin-top: 50px;
}

select{

    background-color:rgba(48, 48, 48, 0.507)!important;
    border: 0!important;

}

option:hover{
    background-color: rgba(0, 0, 0, 0)!important;
    color: #f74d4d!important;
}
option:hover:is(.active){
    background-color: rgba(0, 0, 0, 0)!important;
    color: #f74d4d!important;
}

/* Scroll bar Css */
.footer{ /*position: fixed;
    color: #777;
        text-align: center!important;
        background-color: rgba(0, 0, 0, 0.50)!important;
        padding-top: 15px;
        padding-bottom: 15px;
        z-index: 1030;
        font-size: 12px;
        min-height: 50px;
        margin-top: 50px;
    */
    position: fixed;
    right: 0;
    bottom:0;
    left: 0;
    z-index:1030;
    background: #999;
    color:#888;
    text-align: center;
    font-size: 250%;
    padding: 10px;
}
  

option:checked { 
    background:rgba(0, 0, 0, 0)!important; 
    color : #000000!important;
}
/* dawdadadwaadwawdadwaadwNEEEEEW */
li.dropdown.open > a:focus {
    color: #000;
    background: red;
  }
/* ul.nav.navbar-nav.navbar-right{
 color: #000;
    background: red;

} */

.dropdown{
    background-color: rgba(0, 0, 0, 0.50)!important;
    border: 0!important;
}


ul.dropdown-menu:hover{
    background-color: rgb(0, 0, 0)!important;
    border: 0!important;
}

ul.dropdown-menu{
    background-color: rgba(0, 0, 0, 0.50)!important;
    border: 0!important;
}
tread,
th,
table,
tbody,
td{
    border: 0!important;
}
a.dropdown-toggle{
    background-color: rgba(0, 0, 0, 0.50)!important;
    border: 0!important;
}
textarea{
    background-color:rgba(48, 48, 48, 0.507)!important;
    border: 0!important;
}
textarea:focus { 
    color: #999!important;
    border: 0!important;
    outline-color: #f74d4d!important;
    /* background-color: rgba(255, 235, 242, 0.534)!important; */
} 

/* .field{
    color: rgb(134, 9, 9)!important;

} */

img.center {
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    margin: 0 auto;
}

input.file {
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	opacity: 0;
}

